<div class="container">
  <div class="navbar-header">
    {{link-to "АИ-Стройметалл" "index" class="navbar-brand"}}
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
    <ul class="nav navbar-nav">
      <li>{{link-to "Главная" "index"}}</li>
      <li>{{link-to "Комлектующие" "categories"}}</li>
      <li>{{link-to "Атрибуты" "attributes"}}</li>
    </ul>
  </div>
</div>
