
  <thead>
  <tr>
    <th>Id</th>
    {{#each category.attributes as |attribute|}}
      <th>{{attribute.title}}</th>
    {{/each}}
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>2</td>
    <td>3</td>
  </tr>
  </tbody>
