
  <thead>
  <tr>
    <th>Id</th>
    <th>Наименование</th>
    {{#each category.attributes as |attribute|}}
      <th>{{attribute.title}}</th>
    {{/each}}
  </tr>
  </thead>
  <tbody>
    {{#each category.components as |component|}}
      <tr>
        <td>{{component.id}}</td>
        <td>{{component.title}}</td>
        {{#each component.values as |value|}}
          <td>{{value.value}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
