<div class="row ai-m-b--l">
  <div class="col-xs-12 text-right">
    <button class="btn btn-primary" {{action (toggle "showAddComponentModal" this)}}>Добавить раздел комплектующих</button>
  </div>
</div>

<div class="row">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut culpa deserunt fugit iure placeat, possimus rem sint tenetur veniam vitae? Dolore illum nemo nobis nostrum officiis provident quasi ratione. Dolorum?
</div>

{{#if showAddComponentModal}}
  {{#modals/centered-modal
      headerText="Добавить новый вид комплектующих"
      close=(action (toggle "showAddComponentModal" this))
      save=(action "saveComponent")
  }}
    <div class="row">
      <div class="col-xs-3">Название</div>
      <div class="col-xs-9">
        {{input value=componentName class="form-control" placeholder="Введите название комплектующего изделия"}}
      </div>
    </div>
  {{/modals/centered-modal}}
{{/if}}