<div class="row ai-m-b--l">
  <div class="col-xs-12 text-right">
    <button class="btn btn-primary" {{action (pipe (action "createComponent") (toggle "showAddComponentModal" this))}}>Добавить раздел комплектующих</button>
  </div>
</div>

{{#if showAddComponentModal}}
  {{#modals/centered-modal
      headerText="Добавить новый вид комплектующих"
      close=(action (toggle "showAddComponentModal" this))
      save=(action "saveComponent")
  }}
    <div class="row ai-m-b--s">
      <div class="col-xs-3">Название</div>
      <div class="col-xs-9">
        {{input value=newComponent.title class="form-control" placeholder="Введите название комплектующего изделия"}}
      </div>
    </div>
    <div class="row">
      <h4>Введите необходимые параметры комплектующего изделия</h4>
    </div>
    {{params-list component=newComponent}}
  {{/modals/centered-modal}}
{{/if}}